
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
}
header, nav, .auth{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    padding: 1rem 0rem;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center; 
}

.link{
    text-decoration: none;
}
